<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891326658744-4tq2pg6taou72ha96fg99m7sejqkbdk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891326658744-4tq2pg6taou72ha96fg99m7sejqkbdk3</string>
	<key>API_KEY</key>
	<string>AIzaSyAirMHfyU6KLeN97A6KeU4CkmnUdulQH98</string>
	<key>GCM_SENDER_ID</key>
	<string>891326658744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testecom</string>
	<key>PROJECT_ID</key>
	<string>ecom-9ba34</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-9ba34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891326658744:ios:16bd98ed189324b3271c4d</string>
</dict>
</plist>